<nav></nav>
<div layout-padding>
  <p>
    Welcome to Mapping Stories! The purpose of this application is to use the power of storytelling to help people come face to face with the intersectionality of issues of race, intelligence, athletic ability, genomics, and ancestry. We believe that storytelling
    can be healing and empowering for the storyteller, so we hope that our application provides an opportunity for all people to experience that. By the sharing of stories, we hope that people see that they are not alone, but there are people who understand
    and support them. It is our hope that the matching of stories with geographic location will reveal patterns of goodness and badness and spur change where change is needed and encouragement where encouragement is needed.
  </p>
  <p>We welcome you to explore our map by reading through the stories that people have uploaded. Additionally, we hope that you will take time to reflect and contribute your own personal experiences. By doing so, we believe that you will enter into a powerful
    community. To read the stories that other people have written, click on pins that are on the map. Be sure to pay attention to how the story is labeled. What other labels could be attributed to the story? To add your own story, click on the “Add Story”
    tab and fill out the form.
  </p>
  <h3>
    Thank you for visiting Mapping Stories
  </h3>
</div>
