<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools" layout-align="center center">
    <md-button ng-href="#/">
      Home
    </md-button>
    <md-button ng-href="#/map">
      Map
    </md-button>
    <md-button ng-href="#/story">
      Add Story
    </md-button>
  </div>
</md-toolbar>
<!--
  <md-nav-bar md-selected-nav-item="currentNavItem">
    <md-nav-item md-nav-href="#/home" name="home">Home</md-nav-item>
    <md-nav-item md-nav-href="#/map" name="map">Map</md-nav-item>
  </md-nav-bar>
-->
